body {
  margin: 0;
  font-family: Arial;
  background: #0d0d1f;
  color: white;
}

#join-screen, #chat-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.join-box {
  background: #1e1e2f;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.join-box input, .join-box button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.join-box button {
  background: #7b2cbf;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.videos {
  display: flex;
  gap: 1rem;
}

.videos video {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  background: black;
}

.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #333;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.hidden {
  display: none;
}
